<!--<h3>Debt Manager</h3>
  <br>
  <br>
  <div class="card red darken-3">
<div class="row">
  <div class="col s12">
    <ul class="tabs red darken-3">
      <li class="tab col s2"><a class="active white-text" href="sod">SOD</a></li>
      <li class="tab col s2"><a class="active white-text" href="dm9/health">Health Check</a></li> 
      <li class="tab col s2"><a class="active white-text" href="dm9/batch">Batch</a></li>
    </ul>
  </div>
</div>
  </div>


-->

<br>
<div class="row">

  <div class="col s4 valign-wrapper"><h4>Debt Manager</h4></div>
  <div class="col s8">

    <ul class="tabs tabs-fixed-width z-depth-1 red darken-3 white-text">
      <li class="tab col s3"><a class="acitve white-text" href="sod">SOD</a></li>
      <li class="tab col s3"><a class="white-text" href="dm9/health">Health Check</a></li> 
      <li class="tab col s3"><a class="white-text" href="dm9/batch">Batch</a></li>
      <li class="indicator"></li>
    </ul>

  </div>

</div>