<app-loginnav></app-loginnav>
<!--<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>-->

<!--<div class="parallax-container">
    <div class="parallax">
      <img src="./assets/city1e.jpg">
    </div>
    <div id="upper-carousel" class="carousel">
            <a class="carousel-item" href="#one!"><img src="./assets/Wealth-Bank.svg">account_balance_wallet</a>
        </div>
</div>-->
<div id="middle-carousel" class="carousel carousel-slider center white-text">
  <div class="carousel-item bgimg1 white-text" href="#one!"> 

    <br>
    <br>
    <br>
    
    <h3 class="left-align">&nbsp;&nbsp;&nbsp;Building a business is like</h3>
    <h3 class="left-align">&nbsp;&nbsp;&nbsp;Creating a picture, striving</h3>
    <h3 class="left-align">&nbsp;&nbsp;&nbsp;To be picture perfect.</h3>
  </div>

  <div class="carousel-item bgimg2" href="#one!">
    
  </div>

  <div class="carousel-item bgimg3" href="#one!">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 class="center
    -align"> Brave | Passionate | Ready &nbsp; &nbsp;  &nbsp; </h3>

  </div>
</div>

<div style="background-color:#fdfdfd">
  <div class="row container" >
    
    <!--<div class="row">
      <div class="col s1 red"></div>
      <div class="col s3 green"><a></a></div>
      <div class="col s3 blue"></div>
      <div class="col s3 yellow"></div>
      <div class="col s1 orange"></div>
    </div>-->
    <br>
    <br>
    <div class="row">
      <div class="col s3 "></div>
      <div class="col s2 center-align"><a class="modal-trigger black-text" href="#login"><img class="app-img" src="./assets/Wallet.svg"><h6>Debt Manager 9</h6></a></div>
      <div class="col s2 center-align"><a class="modal-trigger black-text" href="#login"><img class="app-img"src="./assets/Protect.svg"><h6>KAMLS</h6></a></div>
      <div class="col s2 center-align"><a class="modal-trigger black-text" href="#login"><img class="app-img" src="./assets/Move-to-Absa.svg"><h6>Vision Plus</h6></a><br></div>
      <div class="col s3 "></div>
    </div>
<!--<i class="material-icons">credit_card</i>-->

  
</div>
 <marquee style="background-color:yellowgreen"><b>Welcome Manoj Puri and Vimal Kumar </b></marquee>    
</div>





 <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="red-text text-darken-3" ><b>Abza Deck</b></h5>
                <pre class="red-text text-darken-3"><b>Brave Passionate Ready</b></pre>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="red-text text-darken-3"><b>Links</b></h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">About us</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Support us</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Careers</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>