<h3>Debt Manager</h3>
  <br>
  <br>
  <div class="card red darken-3">
<div class="row">
  <div class="col s12">
    <ul class="tabs red darken-3">
      <li class="tab col s2"><a class="active white-text" href="report/sod">SOD</a></li>
      <li class="tab col s2"><a class="active white-text" href="report/dm9/health">DM health check</a></li>
      <li class="tab col s2"><a class="active white-text" href="report/dm9/batch">DM Batch</a></li>
<!--      <li class="tab col s2"><a class="active white-text" href="report/dm9/payment">DM Payment</a></li>
      <li class="tab col s2"><a class="active white-text" href="report/sod">KAMLS Health</a></li>
      <li class="tab col s2"><a class="active white-text" href="report/visionplus/hc">Vision Plus</a></li>-->
    </ul>
  </div>
</div>
  </div>
<script>

    $(document).ready(function(){
        $('.tabs').tabs();
    });

</script>

