<header>
  <!-- Dropdown Structure -->
  <ul id="dropdown" class="dropdown-content">
    <li><a class="black-text" href="/dm9" >Debt Manager</a></li>
    <li class="divider"></li>
    <li><a class="red darken-4 white-text" href="#!">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper red darken-4">
      <a href="#!" class="brand-logo" style="margin-left: 1rem;"> <i class="material-icons">business</i><b>ABSA</b> Deck</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/report/sod">SOD</a></li>
        <li class="divider"></li>
        <li><a href="/report/dm9/batch">Batch status</a></li>
        <li class="divider"></li>
        <li><a href="/report/dm9/health">Batch Health Check</a></li>
        <li class="divider"></li>
        <li class="logout"><a href="#">Log out</a></li>
      </ul>
    </div>
  </nav>
</header>
